*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
  display: grid;
  grid-template: 65px repeat(2, auto) / 1fr;
  grid-template-areas:
    "text"
    "search";
  width: 100%;
  height: 165px;
  background-color: lightcoral;
  gap: 1em;
}

.navbar-text {
  justify-self: center;
  align-self: center;
}

.navbar-text {
  grid-area: text;
}

.search-container {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main content */

.container {
  /* margin: 1em; */
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  grid-template-areas:
    "word"
    "pronunciations"
    "phonetics"
    "definitions";
  border: 1px solid black;
  padding: 0 .5em 2em;
}

.word,
.partOfSpeech,
.phonetics,
.definitions {
  place-items: center;
}

.word {
  grid-area: word;
  text-align: center;
}

.partOfSpeech {
  grid-area: part;
  margin: 0;
}

.pronunciation {
  grid-area: pronunciations;
  text-align: center;
}

.phonetics {
  grid-area: phonetics;
  margin: 0 auto;
}

.definitions {
  grid-area: definitions;
  margin: 0;
}



/* Audio player */

audio {
  width: 250px;
  margin: .5em;
}

/* Media query for tablet or larger screen sizes */

@media (min-width: 768px) {
  .navbar {
    height: 65px;
    grid-template: 65px / 1fr 1fr 1fr;
    grid-template-areas:
      ". text search";
    gap: unset;
  }

  .container {
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    grid-template-areas:
      "word definitions phonetics"
      ". definitions ."
      ". definitions .";
    padding: .5em .5em 2em .5em;
  }
}